.guitar-quest-login
  .title
    font-size 28px
    font-weight 300
    margin-bottom 30px

  .login-panel
    margin-top 50px

  .padded-panel
    padding 20px

  .action-btn
    margin-top 30px
    margin-bottom 10px
