.guitar-quest-pieces
  .points-to-next-level
    position relative
    top 17px
  .actions
    margin-bottom 15px
  .get-music
    margin-right 15px
  // .level-panel
  //   cursor pointer
  //   &:hover
  //     background-color #eeeeee
