.guitar-quest-piece
  .points-to-next-level
    position relative
    top 17px
  .actions
    margin-bottom 15px
  .get-music
    margin-right 15px

  .video-preview
    width 550px

  .link-panel
    height 100px

  .link-panel-icon
    margin-top 12px
    margin-bottom 3px

  .loading
    height 250px
    padding-top 65px
    h5
      color gray

  .piece-heading
    padding-top 5px
    padding-bottom 5px

  .select-video
    height 330px
    padding-top 110px
    cursor pointer

    h5
      color gray

  .piece-info
    margin-bottom 13px // so it matches p tag
  .piece-era
    margin-top -3px

  .control-btn
    margin-bottom 10px

  .comment-details
    margin-bottom -3px

  .comment
    margin-top 15px
    margin-bottom 15px

  .piece-panel
    margin-bottom 15px

