.guitar-quest-piece
  .points-to-next-level
    position relative
    top 17px
  .actions
    margin-bottom 15px
  .get-music
    margin-right 15px

  .video-preview
    width 100%

  .link-panel
    height 100px

  .link-panel-icon
    margin-top 12px
    margin-bottom 3px

  .loading
    padding-top 160px
    h5
      color gray

  .piece-heading
    padding-top 5px
    padding-bottom 5px

  .select-video
    padding-top 140px
    cursor pointer

    h5
      color gray

  .piece-info
    margin 10px // so it matches p tag

  .control-btn
    margin-bottom 10px

  .history-item-details
    margin-bottom -3px

  .history-item
    margin-top 10px

  .piece-panel
    margin-bottom 15px

  .video-panel-body
    height 400px

  .submission-status
    margin-right 10px

  .video-submission-panel
    position relative

    .video-submission-overlay
      position absolute
      top 0px
      width 100%
      background-color rgba(255, 255, 255, 0.7)
      padding 5px 15px
