.guitar-quest-pieces.container
  .panel.panel-default
    .panel-heading 20 points
    .panel-body
      h4 Estudio Sin Luz
      p Andres Segovia
      .actions
        .get-music.btn.btn-default Get Sheet Music
        .btn.btn-default Request Skype Lesson
      .row
        .col-xs-12
          p Meh bespoke Odd Future, sriracha YOLO Pinterest twee +1 semiotics mumblecore XOXO put a bird on it DIY mixtape. Marfa narwhal fap, flexitarian Williamsburg beard gentrify Austin kale chips swag American Apparel cold-pressed freegan. Flannel Truffaut cray cold-pressed. Crucifix stumptown quinoa, mixtape Truffaut four loko McSweeney's pour-over tofu flannel gentrify Wes Anderson chambray beard cardigan. Post-ironic heirloom master cleanse, slow-carb pickled iPhone chambray quinoa narwhal VHS Wes Anderson.

      p To complete piece should be memorized, played with good technique, and played musically.


      //- h5 Submit video:
      .row.well
        //- .col-xs-12
        //-   video
        .col-xs-12.text-center
          //- div
          //-   .btn.btn-primary(ng-click='pieceCtrl.getVideo()') Record Video
          div
            .btn.btn-primary Upload Video
          //- .btn.btn-primary(ng-click='pieceCtrl.stopVideo()') Stop Video
          //- .btn.btn-primary(ng-click='pieceCtrl.replayVideo()') Replay Video
        //- .col-sm-6
        //-   .btn.btn-primary.btn-block(ng-click='pieceCtrl.stopVideo()') Stop
        //- .embed-responsive.embed-responsive-16by9
        //-   iframe(width="420" height="315" src="https://www.youtube.com/embed/oPfZVflJdp0" frameborder="0" allowfullscreen)
