.lesson-checkout
  .steps
    margin-bottom 20px
  .step
    margin-right 30px
    font-size 18px
    margin-bottom 2px solid gray
  .current-step
    font-weight 600

  .checkout
    background-color white
