.lesson-checkout
  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-container
        //- .navbar-container
        .navbar-header
          a.navbar-brand(ui-sref='guitarQuest.landing') GuitarQuest
  //- Lesson
    //- (choose a teacher)
    //- choose a lesson length / price
    //- (choose a time)
    //- (weekly or one time)
  //- Contact
    //- Email / Skype
  //- Payment
    //- enter payment information
  //- show summary (lesson price minus credits)
  //- submit
  .text-center.steps
    span.step(ng-class='{"current-step": ctrl.stateIncludes("lessonCheckout.lesson")}') 1. Sign up
    span.step(ng-class='{"current-step": ctrl.stateIncludes("lessonCheckout.lesson")}') 2. Lesson info
    span.step(ng-class='{"current-step": ctrl.stateIncludes("lessonCheckout.payment")}') 3. Payment
    span.step(ng-class='{"current-step": ctrl.stateIncludes("lessonCheckout.review")}') 4. Review

  .checkout
    .container
      ui-view

