.gq-navbar
  a
    cursor pointer
  .link-badge
    margin-left 5px
  .icon-link
    font-size 17px
  .user-summary
    font-weight 400
    margin-left 15px
    margin-right 15px
    .level-summary
      color gray
      margin-top 13px
    .credit-summary
      margin-top -5px
  .credit-summary
    font-size 12px
  .badge-warning
    background-color #FF9800
  .credits-icon
    margin-left 5px
    font-size 19px
    position relative
    top 1px
  .login
    margin-right 20px
    position relative
    top 2px
  .notifications-dropdown
    width 370px
    padding 0px
  .notification-badge
    padding: 2px 4px 2px;
    font-size 9px
    position: absolute;
    right: 7px;
    top: 20px;
    font-weight: bold;
