.subscribe-checkout-payment
  .step
    margin-right 30px
    font-size 20px
  .current-step
    font-weight 600

  .payment-btn
    margin-top 25px

  .cards
    font-size 14px

  .card
    margin-left 5px

  .payment-loader
    margin-top 50px
