.guitar-quest-piece.container
  .panel.panel-default
    .panel-body
      h4 Initial Assessment

      p Upload a video of you playing a classical guitar piece you learned recently so that we can put you at the appropriate level. We will review your video within 24 hours.

      .row.well.video-well
        .col-xs-12.text-center
          .select-video(ng-hide='initialAssessmentCtrl.videoSelected' ngf-select ngf-change="initialAssessmentCtrl.upload($file)")
            div
              i.fa.fa-upload.fa-5x
            h5 Select video to submit
          .loading.row.text-center(ng-show='initialAssessmentCtrl.videoSelected && !initialAssessmentCtrl.videoUploadSrc')
            h5 Uploading...
            .col-xs-8.col-xs-offset-2
              progressbar(
                max="100"
                value="initialAssessmentCtrl.progressPercentage"
              )
          .submission-successful.text-center(ng-show='initialAssessmentCtrl.videoUploadSrc')
            video.video-preview(controls)
            a(href='#') Submit a different video
