.subscribe-checkout.guitar-background-full
  //- http://www.smashingmagazine.com/2009/05/12-tips-for-designing-an-excellent-checkout-process/
  .text-center.success-top
    .checkout-brand GuitarQuest
    .steps
      span.step(ng-class='{"current-step": ctrl.stateIncludes("subscribeCheckout.signUp")}')
        i.fa.fa-lock
        span   Sign up
      span.step(ng-class='{"current-step": ctrl.stateIncludes("subscribeCheckout.payment")}')
        i.fa.fa-credit-card
        span   Payment
      span.step(ng-class='{"current-step": ctrl.stateIncludes("subscribeCheckout.review")}')
        i.fa.fa-check-circle
        span   Review

  .container
    ui-view
