.guitar-quest-how-it-works.container

  .container
    .row
      .col-md-3
        i.fa.fa-music.how-it-works-icon.text-info
      .col-md-9
        h3 Choose a Guitar Piece From Your Level
        p Every GuitarQuest player starts out at the Preparatory level, and levels up as they get more advanced
    .row
      .col-md-3
        i.fa.fa-music.how-it-works-icon.text-info
      .col-md-9
        h3 Choose a Guitar Piece
        p Choose from a selection of classical guitar pieces for your current level. Read tutorials or rechallenge a private lesson if you need help.
    .row
      .col-md-3
        i.fa.fa-upload.how-it-works-icon.text-warning
      .col-md-3
        h3 Submit a Video
        p Upload a video of you performing the piece.

