.piecePanel {
  cursor: pointer;
}

.progressbar {
  margin-bottom: 0px;
}

.pieceHeading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pieceTitle {
  margin: 0px;
  margin-bottom: 5px;
}

.pieceEra {
  margin-top: -5px;
  font-style: italic;
}
