.guitar-quest-music
  .piece-panel
    cursor pointer
  .previous-and-next
    cursor pointer
    font-size 12px
  .piece-title
    margin 0px
    margin-bottom 5px
  .piece-heading
    padding-top 5px
    padding-bottom 5px
  .points-to-next-level
    position relative
    top 17px
  .piece-era
    margin-top -5px
  .panel-progressbar
    margin-bottom 0px
  .panel-details
    font-weight italic
    margin-right 10px
