.guitar-quest-music
  .piece-panel
    cursor pointer
  .previous-and-next
    cursor pointer
    font-size 12px
  .piece-title
    margin 0px
  .piece-composer
  .piece-heading
    padding-top 5px
    padding-bottom 5px
  .points-to-next-level
    position relative
    top 17px
  .alerts
    .alert:not(:last-child)
      margin-bottom 15px
