.guitar-quest-music.container

  .row.previous-and-next
    .col-xs-12
      .pull-left
        a(href='' ng-click='piecesCtrl.goToPreviousLevel()')
          span.fa.fa-angle-double-left
          span &nbsp;Previous
      .pull-right
        a(href='' ng-click='piecesCtrl.goToNextLevel()')
          span Next&nbsp;
          span.fa.fa-angle-double-right
  .row
    .col-xs-6
      h5.pull-left Level {{piecesCtrl.selectedLevel}}
    .col-xs-6(ng-if='piecesCtrl.userLevel === piecesCtrl.selectedLevel')
      .points-to-next-level.pull-right {{piecesCtrl.getExpToNextLevel()}} exp to level {{piecesCtrl.selectedLevel + 1}}
  .row
    .col-xs-12
      progressbar(
        max="piecesCtrl.levelHelper.getTotalLevelExp(piecesCtrl.selectedLevel)"
        value="piecesCtrl.levelHelper.getExpIntoSelectedLevel(piecesCtrl.user.exp, piecesCtrl.selectedLevel)"
      )

  .row
    .col-sm-4(ng-repeat='piece in piecesCtrl.pieces')
      .piece-panel.panel.panel-default(ui-sref='guitarQuest.piece({pieceId: piece._id})')
        .piece-heading.panel-heading {{piece.exp}} exp
        .panel-body
          h5.piece-title {{piece.name}}
          .piece-composer {{piece.composer}}
