.guitar-quest-music.container

  alert(type='info' close='piecesCtrl.closeAlert()') Learn pieces to earn experience points and progress to higher levels. If you have previous experience playing guitar, you can take the <a href='' ui-sref='guitarQuest.initialAssessment'>initial assessment</a> to start at a higher level.

  .row.previous-and-next
    .col-xs-12
      .pull-left(ng-if='piecesCtrl.selectedLevel > 1')
        a(href='' ng-click='piecesCtrl.goToPreviousLevel()')
          span.fa.fa-angle-double-left
          span &nbsp;Previous
      .pull-right(ng-if='piecesCtrl.selectedLevel < piecesCtrl.user.level')
        a(href='' ng-click='piecesCtrl.goToNextLevel()')
          span Next&nbsp;
          span.fa.fa-angle-double-right
  .row
    .col-xs-6
      h5.pull-left Level {{piecesCtrl.selectedLevel}}
    .col-xs-6
      .points-to-next-level.pull-right {{piecesCtrl.levelPoints.completed}} / {{piecesCtrl.levelPoints.total}} points
  .row
    .col-xs-12
      progressbar(
        animate="false"
        value="(piecesCtrl.levelPoints.completed / piecesCtrl.levelPoints.total) * 100"
      )

  .row
    .col-sm-4(ng-repeat='piece in piecesCtrl.pieces')
      .piece-panel.panel.panel-default(
        ui-sref='guitarQuest.piece({pieceId: piece._id})'
        ng-class='{"panel-warning": piece.status === "pending", "panel-danger": piece.status === "retry", "panel-success": piece.status === "finished"}'
      )
        .piece-heading.panel-heading
          .row(ng-if='piece.status === undefined')
            .col-xs-8 {{piece.points}} points
          .row(ng-if='piece.status === "pending"')
            .col-xs-8 Submitted
            .col-xs-4.text-right
              i.fa.fa-question
          .row(ng-if='piece.status === "finished"')
            .col-xs-8 Finished
            .col-xs-4.text-right
              i.fa.fa-check
          .row(ng-if='piece.status === "retry"')
            .col-xs-8 Please retry
            .col-xs-4.text-right
              i.fa.fa-exclamation
        .panel-body
          h5.piece-title {{piece.name}}
          .piece-composer {{piece.composer}}
