.change-password-modal
  form(
    name='form'
    ng-submit='submit()'
    novalidate
  )

    //- Header
    //- ------------------------------------------
    .change-password-header.modal-header.text-center
      .col-xs-12
        h4.title Change Password

    //- Body
    //- ------------------------------------------
    .modal-body
      input.form-control(type='password' placeholder='current password' ng-model='form.oldPassword')
      input.form-control(type='password' placeholder='new password' ng-model='form.newPassword')

    //- Footer
    //- ------------------------------------------
    .modal-footer.text-center
      button.submit.btn.btn-primary.btn-block(type='submit') Submit
      .btn.btn-default.btn-block(ng-click='cancel()') Cancel
