// Add this to dynamically hiding / showing loader that has animation on it
// https://github.com/angular/angular.js/issues/8224
// http://jsfiddle.net/PvS8k/4/
.loader.ng-animate
  -webkit-animation: none 0s

.loader
  font-size 60px
