.popover-navigation
  margin-bottom 12px
  margin-left 12px
  margin-right 12px
.tour-tour
  .btn
    text-transform none
    box-shadow none
    &.disabled
      background-color white

  .btn-group
    margin-right 70px

