// Add this to dynamically hiding / showing loader that has animation on it
// https://github.com/angular/angular.js/issues/8224
// http://jsfiddle.net/PvS8k/4/
.loader.ng-animate
  -webkit-animation: none 0s

.loader
  font-size 60px

.guitar-background-white
  margin-top -23px
  margin-bottom -23px
  // background-position: 0% 25%
  background: url("/guitar_5.jpg")
  background-size: cover
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover
  background-repeat: no-repeat
  height 640px
  width: 100%
  // background-position: center top

.btn
  font-weight 500
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
