.guitar-quest-account
  .info-divider
    margin-top 10px
    margin-bottom 10px

  .title
    margin-bottom 25px

  .edit-input
    display inline-block
    width 250px
    margin-right 5px

  .btn-confirm-change
    margin-right 5px
