.guitar-quest-challenges
  .guitar-background
    margin-top -23px
    margin-bottom -23px
    // background-position: 0% 25%
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/guitar_5.jpg")
    background-size: cover
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
    background-repeat: no-repeat
    // height 640px
    height 350px
    border-bottom 2px solid #C6C6C6
    width: 100%

  // background-position: center top
  .challenge-panel
    padding-top 10px
    padding-bottom 10px
    border 2px solid #FF9800

  .challenge-title
    font-size 24px

  .challenge-panel-body
    padding 10px 20px

  .reward
    margin-top 30px
    margin-bottom 25px

    .reward-credits-icon
      font-size 65px

    .reward-points-icon
      font-size 50px
      margin-bottom 7px

    .reward-text
      font-size 18px
      font-weight bold

  .description
    line-height 24px
    font-size 15px
    margin-bottom 15px
    opacity 0.6

  .quantity-complete
    margin-bottom 10px

  .no-challenges
    margin-top 100px
