.guitar-quest-challenges.container
  gq-notifications(category='challenge')
  .row
    .no-challenges.text-center(ng-if='!ctrl.challenges.length')
      h5 You do not have any challenges right now. Check again next week.
    .challenge.col-sm-4(ng-repeat='challenge in ctrl.challenges')
      .challenge-panel.panel.panel-default
        .challenge-panel-body.panel-body.text-center
          h4.challenge-title {{ctrl.challengeHelpers.getTitle(challenge)}}
          .reward.text-warning(ng-if='challenge.reward.credits')
            i.reward-credits-icon.fa.fa-money.fa-3x
            .reward-text ${{challenge.reward.credits}} lesson credits
          .reward.text-warning(ng-if='challenge.reward.points')
            i.reward-points-icon.fa.fa-star.fa-3x
            .reward-text {{challenge.reward.points}} points
          .description {{ctrl.challengeHelpers.getDescription(challenge)}}
          h5.quantity-complete {{challenge.quantityCompleted}} / {{challenge.quantityToComplete}} Complete
