.guitar-quest-private-lessons.container
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-body
          h4
            span Danny Nelson
            .pull-right.text-warning $60/hour
          .row
            .col-md-4
              img.guitarist-photo(src='/danny_nelson.jpg')
            .col-md-8
              p Hi, my name is Danny Nelson, and I am the founder of GuitarQuest. Gluten-free hammock DIY mlkshk bitters. Cornhole polaroid viral, microdosing waistcoat pitchfork wayfarers stumptown cronut keytar normcore. Selfies tacos messenger bag actually. Pickled slow-carb kinfolk helvetica knausgaard. Four dollar toast four loko mustache, lo-fi intelligentsia cred viral chicharrones helvetica hoodie blog cliche schlitz chartreuse cronut.
              a.btn.btn-primary(href='' ui-sref='lessonCheckout') Buy a Private Lesson
