.guitar-quest-private-lessons.container
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-default.clearfix
        .row
          .col-sm-4.photo-col
            img.guitarist-photo(src='/danny_nelson.jpg')
          .col-sm-8.guitarist-description
            .panel-body
              h4
                span Danny Nelson
                .pull-right.text-warning $55/hour
              hr.divider
              div Founder of GuitarQuest
              hr.divider
              div Studied at USC and Northwestern with Pepe Romero, Bill Kanengiser, Oscar Ghiglia, and Anne Waller.
              hr.divider
              div Over 10 years of experience teaching and performing.
              hr.divider

              a.btn.btn-primary.buy-lesson-btn(href='' ui-sref='lessonCheckout') Buy a Private Lesson
