.guitar-quest-private-lessons.container
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-default.clearfix
        .row
          .col-sm-4
            img.guitarist-photo(src='/danny_nelson.jpg')
          .col-sm-8.guitarist-description
            .panel-body
              h4
                span Danny Nelson
                .pull-right.text-warning $60/hour
              p Hi, my name is Danny Nelson, and I am the founder of GuitarQuest. Gluten-free hammock DIY mlkshk bitters. Cornhole polaroid viral, microdosing waistcoat pitchfork wayfarers stumptown cronut keytar normcore.
              a.btn.btn-primary(href='' ui-sref='lessonCheckout') Buy a Private Lesson
