.popover.tour-panel
  .arrow
  h3.popover-title
  .popover-content
  .popover-navigation
    a.prev(data-role='prev')
      i.fa.fa-angle-double-left
      span  Prev
    a.next(data-role='next')
      span Next&nbsp;
      i.fa.fa-angle-double-right
    a.end-tour.pull-right(data-role='end') End tour
