.lesson-checkout-lesson
  font-size 14px
  .price
    font-size 50px

  .select-check
    font-size 20px
    margin-right 10px

  .list-group-item
    cursor pointer

  .text-faded
    color: #dddddd
