.lesson-checkout-lesson
  font-size 14px
  .price
    font-size 50px

  .select-check
    font-size 20px
    margin-right 10px

  .list-group-item
    cursor pointer

  .text-faded
    color: #dddddd

  .checkout-title
    margin-top 5px
    margin-bottom 15px

  .form-title
    text-transform uppercase
    font-weight bold

  .form-section
    margin-bottom 15px

  .skype-username
    margin-top 10px

