.lesson-checkout-lesson
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title What length lesson do you want?
        .panel-body
          .radio
            label
              input(type='radio')
              |  30 Minutes - $35
          .radio
            label
              input(type='radio')
              |  60 Minutes - $60

        .panel-heading
          .panel-title How frequently do you want this lesson?
        .panel-body
          .radio
            label
              input(type='radio')
              | Weekly
          .radio
            label
              input(type='radio')
              | One-Time

        .panel-heading
          .panel-title What time do you prefer?
        .panel-body
          .row
            .col-md-6
              select.form-control(
                ng-options="day as day for day in ctrl.days"
                ng-model='ctrl.lesson.day'
              )
            .col-md-6
              select.form-control(
                ng-options="timeOfDay as timeOfDay for timeOfDay in ctrl.timesOfDay"
                ng-model='ctrl.lesson.timeOfDay'
              )

        .panel-heading
          .panel-title What is your contact info?
        .panel-body
          input.form-control(placeholder='Email')
          input.form-control.skype-username(placeholder='Skype Username')

        .panel-footer
          .clearfix
            .btn.btn-default Back
            .btn.btn-primary.pull-right Save & Continue


