.guitar-quest-music
  .quest-panel
    padding-top 10px
    padding-bottom 10px
    border 2px solid #FF9800

  .quest-title
    font-size 18px

  .reward
    font-size 22px
    margin-top -5px
    margin-bottom 10px

  .description
    font-size 14px
    line-height 20px

  .exp
    margin-left 5px

  .alerts
    .alert:not(:last-child)
      margin-bottom 15px
