.guitar-quest-music
  .quest-panel
    padding-top 15px
    padding-bottom 15px
    border 2px solid #FF9800

  .reward
    font-size 24px
    margin-top -5px
    margin-bottom 10px

  .description
    font-size 16px
    line-height 20px
