.guitar-quest-music.container
  gq-notifications(category='quest')
  .row
    .no-quests.text-center(ng-if='!questsCtrl.quests.length')
      h5 You do not have any quests right now. Please check back later.
    .col-sm-4(ng-repeat='quest in questsCtrl.quests')
      .quest-panel.panel.panel-default
        .panel-body.text-center
          h5.quest-title {{quest.name}}
          .reward
            .label.label-warning {{quest.reward.credits}} credits
          .description {{quest.quantityCompleted}} / {{quest.quantityToComplete}} Complete
