.guitar-quest-music.container
  gq-notifications(category='quest')
  .row
    .col-sm-4(ng-repeat='quest in questsCtrl.quests')
      .quest-panel.panel.panel-default
        .panel-body.text-center
          h5.quest-title {{quest.name}}
          .reward
            .label.label-warning ${{quest.reward.credit}} lesson credit
          .description {{quest.quantityCompleted}} / {{quest.quantityToComplete}} Complete
