.guitar-quest-music.container
  .row
    .col-sm-4
      .quest-panel.panel.panel-default
        .panel-body.text-center
          h5 Submit 1 guitar video
          .reward
            .label.label-warning $5 credit
          .description 0 / 1 Complete

    .col-sm-4
      .quest-panel.panel.panel-default
        .panel-body.text-center
          h5 Complete 1 tutorial
          .reward
            .label.label-warning Unlock a New Piece
          .description 0 / 1 Complete
