.subscribe-checkout-payment
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title Sign up
        .panel-body
          gq-sign-up-form(
            submit='ctrl.signUp'
            successState='subscribeCheckout.payment'
          )

        .panel-footer.panel-footer-white
          .clearfix
            .btn.btn-primary.pull-right(ng-click='ctrl.signUp()') Sign Up & Continue


