.guitar-quest-landing
  .guitar-background
    margin-top -23px
    margin-bottom -23px
    // background-position: 0% 25%
    // background: url("/guitar_4.jpg")
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/guitar_4.jpg")
    background-size: cover
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
    background-repeat: no-repeat
    // height 640px
    height 410px
    border-bottom 2px solid #C6C6C6
    width: 100%
    // background-position: center top

  .title
    font-weight 500
    character-spacing -1px
    margin-top 30px
    margin-bottom 40px
    color white
    // text-shadow: 2px 2px 3px rgba(0,0,0,0.6)

  .subtitle
    font-weight 400
    color white

  .action-btn
    margin-top 10px
    width 470px
    font-size 25px
    text-transform none

  .landing-page-section
    padding-top 27px
    padding-bottom 27px

  .description-text
    color #999999
    font-size 15px
    line-height 23px

  .how-it-works-icon
    font-size 55px
    margin-bottom 10px

  .details
    color #AD9F9E

  .details-header
    font-weight bold

  .description-block
    margin-bottom 25px

  .sign-up-title
    margin-bottom 25px

  .sign-up-btn
    margin-bottom 10px
    margin-top 30px

  .section-title
    margin-bottom 50px

  .background-white
    background-color white

  .resources
    font-size 16px

  .resource
    margin-bottom 20px
