.guitar-quest-landing
  font-size 16px

  .guitar-background
    margin-top -23px
    margin-bottom -23px
    // background-position: 0% 25%
    // background: url("/guitar_4.jpg")
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/guitar_4.jpg")
    background-size: cover
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
    background-repeat: no-repeat
    // height 640px
    // height 410px
    height 615px
    border-bottom 2px solid #C6C6C6
    width: 100%
    // background-position: center top

  .title
    display inline-block
    font-weight 300
    max-width: 515px
    character-spacing -1px
    margin-top 115px
    margin-bottom 40px
    color white
    line-height 65px
    font-size 48px
    // text-shadow: 2px 2px 3px rgba(0,0,0,0.6)

  .subtitle
    font-weight 400
    color white

  .action-btn
    margin-top 10px
    max-width 100%
    font-size 18px
    padding 15px 40px

  .landing-page-section
    padding-top 30px
    padding-bottom 50px

  .description-text
    color #6D6D6D
    font-size 16px
    line-height 25px

  // .how-it-works-icon
    // font-size 55px
    // margin-bottom 7px

  .details
    color #AD9F9E

  .details-header
    font-weight bold

  .description-block
    margin-bottom 25px

  .sign-up-title
    margin-bottom 25px

  .sign-up-btn
    margin-bottom 10px
    margin-top 30px

  .section-title
    margin-bottom 40px
    font-size 34px
    font-weight 300

  .background-white
    background-color white

  .background-dark-gray
    background-color #3C3C3C

  .background-light-gray
    background-color #F9F7F7

  .resources
    font-size 16px

  .resource
    margin-bottom 20px

  .circle-around
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;

  .login-panel
    margin-top 50px

  .text-faded
    color gray

  .price-panels
    margin-top 50px
  //   padding 15px 25px

  .pricing-title
    font-size 20px
    padding-bottom 10px
    padding-top 10px

  .pricing-price
    // border-top 5px solid #2196f3;
    color black
    font-size 20px
    // background-color #2D9434
    padding-top 15px
    padding-bottom 15px

  .border-bottom-blue
    border-bottom 5px solid #2196f3

  .features
    margin-top 25px

  .divider
    margin-top 15px
    margin-bottom 15px

  .text-white
    color white

  .section-subtitle
    font-size 20px
    font-weight 500

  .price
    font-size 31px
    font-weight 500

  .circle-around
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
