.guitar-quest-landing
  //- Tagline: http://www.copyblogger.com/create-a-tagline/
  //- https://www.shopify.com/blog/16480796-how-to-create-beautiful-and-persuasive-hero-images-for-your-online-store
  //- https://ghost.org/
  //- https://www.guitartricks.com/
  //- http://artistworks.com/
  //- https://twitter.com/
  //- https://www.facebook.com/
  //- https://www.facebook.com/
  //- https://www.coursera.org/
  .jumbotron.guitar-background
    .container
      .row
        .col-md-12
          h2.title
            //- Top 2
            //- Learn classical guitar interactively
            //- Learn classical guitar by studying great pieces
            //- what is the goal when learning classical guitar - to learn pieces that people like (e.g) - why? various reasons
            //- what makes guitarquest unique - the game elements. Tracking progress, levels, feedback system
            //- learn classical guitar, learn classical guitar pieces
            //- what's the distinguishing result of using the site - more fun, faster learning
            //- the first thing the page should say is what the user is searching for / wanting:
            //- Take your classical guitar playing to the next level - implies user is already good, and site helps them advance further. Works well with gamification
            //- Learning classical guitar has never been so much fun - a little cheesy
            //- The classical guitar school for the 21st century - a little to heavy for just a fun little site to learn guitar
            //- Learn classical guitar by studying great pieces - the most direct, but a little dry. Also, isn't this true of all curriculums. What is different about this one?
            //- Learn classical guitar - simple, but does not inspire
            //- Learn classical guitar the fun way - are other ways normally not fun. No this one is more fun?
            //- Learn to play amazing/fun/great/incredible classical guitar pieces
            //- Learn the great classical guitar pieces
            //- Learn stunning classical guitar pieces
            //- Learn classical guitar with an online interactive game
            //- Master classical guitar
            //- Learn classical guitar, effortlessly
            //- Learn classical guitar the fun way - fun associated with kid like activities
            //- Learn classical guitar, interactively
            //- Learn your favorite classical guitar pieces
            //- Master classical guitar - too serious, would probably turn a lot of beginners away
            div Master the great works
            div of classical guitar.
            //- https://medium.com/backchannel/this-video-game-solved-the-problem-of-learning-guitar-d0fcea6f0d3b#.s2egim8cz
          a.action-btn.btn.btn-primary.btn-lg(href='' ui-sref='guitarQuest.signUp') Start learning for free

  .landing-page-section.background-white
    .container.text-center
      .row
        //- .text-center
        //- h3.section-title How GuitarQuest Works
        .col-md-4
          i.fa.fa-music.how-it-works-icon.text-info
          h4 1. Learn a Piece
          p.description-text Learn a GuitarQuest piece from your current level. Watch video tutorials or request a private lesson if you need help.
        .col-md-4
          i.fa.fa-upload.how-it-works-icon.text-warning
          h4 2. Submit a Video
          p.description-text Upload a video performance of the piece. Receive written teacher feedback and earn points for your video.
        .col-md-4
          i.fa.fa-bar-chart.how-it-works-icon.text-success
          h4 3. Unlock Harder Pieces
          p.description-text Once you earn enough points, you will progress to the next level to unlock new, more challenging pieces to learn.

  .landing-page-section
    .container
      h3.section-title.text-center All the resources you need to learn

      .col-md-6.resources
        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            div <strong>Written Feedback</strong>
            div Receive written feedback whenever you submit a video. See all of your video submissions and feedback in one centralized place.
        .resource
          .row.resource
            .col-xs-2.text-right
              i.fa.fa-check.fa-2x.text-success
            .col-xs-10
              div <strong>Private lessons</strong>
              div Buy a private video lesson to get personalized feedback from a GuitarQuest teacher.
        .resource
          .row.resource
            .col-xs-2.text-right
              i.fa.fa-check.fa-2x.text-success
            .col-xs-10
              div <strong>Tutorials</strong>
              div Access video tutorials and articles about classical guitar fundamentals.

      .col-md-6.resources
        .resource
          .row.resource
            .col-xs-2.text-right
              i.fa.fa-check.fa-2x.text-success
            .col-xs-10
              div <strong>Recordings</strong>
              div Listen to recordings of the pieces that you are learning.

        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            div <strong>Graded Pieces</strong>
            div Pieces are graded by level to perfectly match your current abilities.

        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            div <strong>Challenges</strong>
            div Challenges encourage you to explore new styles, composers, and techniques.

  //- A section with quotes, etc
  //- .landing-page-section.background-white
  //-   .container.text-center
