.guitar-quest-landing
  //- https://www.shopify.com/blog/16480796-how-to-create-beautiful-and-persuasive-hero-images-for-your-online-store
  //- https://ghost.org/
  //- https://www.guitartricks.com/
  //- http://artistworks.com/
  //- https://twitter.com/
  //- https://www.facebook.com/
  //- https://www.facebook.com/
  //- https://www.coursera.org/
  .jumbotron.guitar-background
    .container
      h2.title Learn Classical Guitar
      h3.subtitle with an online, interactive game
      .input-group.action-input
        input.form-control.input-lg(placeholder='Enter your email')
        .input-group-btn.action-btn
          .action.btn.btn-primary.btn-lg Try it Free
