.guitar-quest-landing
  //- https://www.google.com/wallet/
  //- http://conversionlab.no/
  //- https://www.spotify.com/us/
  //- Tagline: http://www.copyblogger.com/create-a-tagline/
  //- https://www.shopify.com/blog/16480796-how-to-create-beautiful-and-persuasive-hero-images-for-your-online-store
  //- https://ghost.org/
  //- https://www.guitartricks.com/
  //- http://artistworks.com/
  //- https://twitter.com/
  //- https://www.facebook.com/
  //- https://www.facebook.com/
  //- https://www.coursera.org/
  .jumbotron.guitar-background
    .container.text-center
      .row
        .col-md-12
          h2.title Master the great works of classical guitar
            //- Top 2
            //- Learn classical guitar interactively
            //- Learn classical guitar by studying great pieces
            //- what is the goal when learning classical guitar - to learn pieces that people like (e.g) - why? various reasons
            //- what makes guitarquest unique - the game elements. Tracking progress, levels, feedback system
            //- learn classical guitar, learn classical guitar pieces
            //- what's the distinguishing result of using the site - more fun, faster learning
            //- the first thing the page should say is what the user is searching for / wanting:
            //- Take your classical guitar playing to the next level - implies user is already good, and site helps them advance further. Works well with gamification
            //- Learning classical guitar has never been so much fun - a little cheesy
            //- The classical guitar school for the 21st century - a little to heavy for just a fun little site to learn guitar
            //- Learn classical guitar by studying great pieces - the most direct, but a little dry. Also, isn't this true of all curriculums. What is different about this one?
            //- Learn classical guitar - simple, but does not inspire
            //- Learn classical guitar the fun way - are other ways normally not fun. No this one is more fun?
            //- Learn to play amazing/fun/great/incredible classical guitar pieces
            //- Learn the great classical guitar pieces
            //- Learn stunning classical guitar pieces
            //- Learn classical guitar with an online interactive game
            //- Master classical guitar
            //- Learn classical guitar, effortlessly
            //- Learn classical guitar the fun way - fun associated with kid like activities
            //- Learn classical guitar, interactively
            //- Learn your favorite classical guitar pieces
            //- Master classical guitar - too serious, would probably turn a lot of beginners away

            //- https://medium.com/backchannel/this-video-game-solved-the-problem-of-learning-guitar-d0fcea6f0d3b#.s2egim8cz
        .col-md-12
          a.action-btn.btn.btn-primary.btn-lg(href='' ui-sref='guitarQuest.signUp') Sign up for free

  .landing-page-section.background-light-gray
    .container.text-center
      .row
        //- h3.section-title.text-center How it works
        //- .text-center
        h3.section-title How it works
        .col-sm-4
          .fa-stack.fa-3x
            i.fa.fa-circle.fa-stack-2x.text-info
            i.fa.fa-music.fa-stack-1x.how-it-works-icon.text-white
          h3.section-subtitle 1 Learn a Piece
          p.description-text Learn a GuitarQuest piece from your current level. Watch video tutorials or request a private lesson if you need help.
        .col-sm-4
          .fa-stack.fa-3x
            i.fa.fa-circle.fa-stack-2x.text-warning
            i.fa.fa-upload.fa-stack-1x.how-it-works-icon.text-white
          h3.section-subtitle 2 Submit a Video
          p.description-text Upload a video performance of the piece. Receive written teacher feedback and earn points for your video.
        .col-sm-4
          .fa-stack.fa-3x
            i.fa.fa-circle.fa-stack-2x.text-success
            i.fa.fa-unlock-alt.fa-stack-1x.how-it-works-icon.text-white
          h3.section-subtitle 3 Unlock Harder Pieces
          p.description-text Once you earn enough points, you will progress to the next level to unlock new, more challenging pieces to learn.

  .landing-page-section.background-white
    .container
      h3.section-title.text-center All the resources you need to learn, in one place

      .col-md-6.resources
        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            .section-subtitle Written Feedback
            .description-text Receive written feedback whenever you submit a video. See all of your video submissions and feedback in one centralized place.
        .resource
          .row.resource
            .col-xs-2.text-right
              i.fa.fa-check.fa-2x.text-success
            .col-xs-10
              .section-subtitle Private lessons
              .description-text Buy a private video lesson to get personalized feedback from a GuitarQuest teacher.
        //- .resource
        //-   .row.resource
        //-     .col-xs-2.text-right
        //-       i.fa.fa-check.fa-2x.text-success
        //-     .col-xs-10
        //-       .section-subtitle Tutorials
        //-       .description-text Access video tutorials and articles about classical guitar fundamentals.

      .col-md-6.resources
        //- .resource
        //-   .row.resource
        //-     .col-xs-2.text-right
        //-       i.fa.fa-check.fa-2x.text-success
        //-     .col-xs-10
        //-       .section-subtitle Recordings
        //-       .description-text Listen to recordings of the pieces that you are learning.

        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            .section-subtitle Graded Pieces
            .description-text Pieces are graded by level to perfectly match your current abilities.

        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            .section-subtitle Challenges
            .description-text Challenges encourage you to explore new styles, composers, and techniques.

  .landing-page-section.background-light-gray
    .container
      h3.section-title.text-center Start with a free account, upgrade when you advance
      .col-sm-4.text-center
        .pricing-panel.panel.panel-default.text-center
          .panel-heading.pricing-name Basic Account
          .panel-body
            .pricing-dollars Free
            hr.divider
            div Advance up to preparatory level
            hr.divider
            div Receive teacher feedback for video uploads
            hr.divider
            div Complete challenges

      .col-sm-4
        .pricing-panel.panel.panel-default.text-center
          .panel-heading.pricing-name Premium Account
          .panel-body
            .pricing-dollars ${{ctrl.settings.subscription.price}}
            div.price-subtext per month
            hr.divider
            div Advance up to level 8
            hr.divider
            div Receive teacher feedback for video uploads
            hr.divider
            div Complete challenges

      .col-sm-4
        .pricing-panel.panel.panel-default.text-center
          .panel-heading.pricing-name Private Lessons
          .panel-body
            .pricing-dollars $30 - $60
            div.price-subtext per lesson
            hr.divider
            div Pay per lesson
            hr.divider
            div 30 or 60 minute lessons available
            hr.divider
            div Choose your teacher

  .landing-page-section.text-center.background-dark-gray
    a.action-btn.btn.btn-primary.btn-lg(href='' ui-sref='guitarQuest.signUp') Sign up for free

