.guitar-quest-landing
  .jumbotron
    .container
      h2 A game for learning classical guitar
      p This is placeholder text
      .btn.btn-primary.btn-lg Create a Free Account

  .container
    .row
      .col-md-4
        .panel.panel-default
          .panel-body
            h5 Learn Music
            p Submit videos of guitar pieces to earn points, and unlock more difficult pieces as you progress to higher levels.

      .col-md-4
        .panel.panel-default
          .panel-body
            h5 Complete Quests
            p Complete quests to unlock special music pieces, lesson credits, and other rewards.

      .col-md-4
        .panel.panel-default
          .panel-body
            h5 Take lessons
            p Watch tutorials or request private video lessons when you need help.
