.guitar-quest-landing
  .jumbotron
    .container
      h2 A game for learning classical guitar
      .btn.btn-primary.btn-lg Create a Free Account

  .container
    .row
      .col-md-4
        .panel.panel-default
          .panel-body
            h5 Earn points to increase your level
            p Submit videos of guitar pieces to earn points, and unlock more difficult pieces as you progress to higher levels.

      .col-md-4
        .panel.panel-default
          .panel-body
            h5 Collect rewards
            p Complete "quests" to win credits for buying private video lessons.

      .col-md-4
        .panel.panel-default
          .panel-body
            h5 Learn from tutorials and lessons
            p Watch tutorials or request private video lessons when you need help.
