.guitar-quest-landing
  //- Tagline: http://www.copyblogger.com/create-a-tagline/
  //- https://www.shopify.com/blog/16480796-how-to-create-beautiful-and-persuasive-hero-images-for-your-online-store
  //- https://ghost.org/
  //- https://www.guitartricks.com/
  //- http://artistworks.com/
  //- https://twitter.com/
  //- https://www.facebook.com/
  //- https://www.facebook.com/
  //- https://www.coursera.org/
  .jumbotron.guitar-background
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          h2.title
            div Take your classical guitar playing
            div to the next level
          .action-btn.btn.btn-warning.btn-lg Join for Free

  .landing-page-section.background-white
    .container.text-center
      .row
        //- .text-center
        h3.section-title How GuitarQuest Works
        .col-md-4
          i.fa.fa-book.how-it-works-icon.text-info
          h4 1. Learn a Piece
          p.description-text Choose a GuitarQuest piece from your current level. Learn at your own pace. Watch video tutorials or request a private lesson if you need help.
        .col-md-4
          i.fa.fa-upload.how-it-works-icon.text-success
          h4 2. Submit a Video
          p.description-text Upload a video performance of the piece. Receive written teacher feedback and earn points for your video.
        .col-md-4
          i.fa.fa-star.how-it-works-icon.text-warning
          h4 3. See your progress
          p.description-text Once you earn enough points, you will progress to the next level to unlock new, more challenging pieces to learn.

  .landing-page-section
    .container
      h3.section-title.text-center All the resources you need to learn

      .col-md-6.resources
        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            div <strong>Written Feedback</strong>
            div Receive written feedback whenever you submit a video. See all of your video submissions and feedback in one centralized place.
        .resource
          .row.resource
            .col-xs-2.text-right
              i.fa.fa-check.fa-2x.text-success
            .col-xs-10
              div <strong>Private lessons</strong>
              div Buy a private video lesson to get personalized feedback from a GuitarQuest teacher.
        .resource
          .row.resource
            .col-xs-2.text-right
              i.fa.fa-check.fa-2x.text-success
            .col-xs-10
              div <strong>Tutorials</strong>
              div Access video tutorials and articles about classical guitar fundamentals.

      .col-md-6.resources
        .resource
          .row.resource
            .col-xs-2.text-right
              i.fa.fa-check.fa-2x.text-success
            .col-xs-10
              div <strong>Recordings</strong>
              div Listen to recordings of the pieces that you are learning.

        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            div <strong>Graded Pieces</strong>
            div Pieces are graded by level to perfectly match your current abilities.

        .row.resource
          .col-xs-2.text-right
            i.fa.fa-check.fa-2x.text-success
          .col-xs-10
            div <strong>Challenges</strong>
            div Challenges encourage you to explore new styles, composers, and techniques.

  //- A section with quotes, etc
  //- .landing-page-section.background-white
  //-   .container.text-center
