.review-submitted-piece
  .points-to-next-level
    position relative
    top 17px
  .actions
    margin-bottom 15px
  .get-music
    margin-right 15px

  .video-preview
    width 100%

  .link-btn
    padding-top 9px
    height 80px

  .loading
    height 250px
    padding-top 65px
    h5
      color gray

  .piece-heading
    padding-top 5px
    padding-bottom 5px

  .select-video
    height 250px
    padding-top 65px
    color gray
    cursor pointer

    h5
      color gray

  .piece-info
    margin-bottom 13px // so it matches p tag
  .piece-era
    margin-top -3px

  .control-btn
    margin-bottom 10px
  .comment
    margin-bottom 10px

  .grade
    margin-right 5px
    margin-bottom 5px
    width 60px

  .submit-grade-btn
    margin-top 10px
    margin-top 10px
    width 250px
    display inline-block

  .percent
    margin-top 10px

