.review-submitted-piece.container
  .col-md-8
    .panel.panel-default(ng-class='{"panel-warning": ctrl.userPiece.status === "submitted", "panel-success": ctrl.userPiece.status === "graded"}')
      .piece-heading.panel-heading
        .row(ng-if='!ctrl.userPiece.status')
          .col-xs-8 {{ctrl.piece.points}} points
          .col-xs-4.text-right
        .row(ng-if='ctrl.userPiece.status === "submitted"')
          .col-xs-8 Submitted
          .col-xs-4.text-right
            i.fa.fa-upload
        .row(ng-if='ctrl.userPiece.status === "graded"')
          .col-xs-8 Finished
          .col-xs-4.text-right
            i.fa.fa-check

      .panel-body.text-center
        video.video-preview(ng-src='{{ctrl.userPiece.submissionVideoURL}}')

     .panel.panel-default
        .panel-body
          h4 {{ctrl.userPiece.piece.name}}

    .panel.panel-default
      .panel-body
        h4 Teacher Feedback
        div(ng-repeat='historyItem in ctrl.userPiece.history')
          div <strong>Danny Nelson</strong> <em>{{ctrl.getTimeFromNow(historyItem.createdAt)}}</em>
          div {{historyItem.text}}

        //- BELOW THIS POINT ONLY FOR INSTRUCTORS
        textarea.form-control.comment(ng-model='ctrl.comment' placeholder='Leave a comment...')
        .btn.btn-block.btn-primary.control-btn(ng-click='ctrl.addComment()') Add Comment

  .col-md-4
    .panel.panel-default
      .panel-body
        h5 Grade
        form
          input.form-control(type='number' ng-model='ctrl.userPiece.grade')
          .btn.btn-primary.btn-block(ng-click='ctrl.save($event)') Save


