.confirm-quantity-modal


  form(
    name='form'
    ng-submit='yes()'
    novalidate
  )

    //- Header
    //- ------------------------------------------
    .modal-header
      .row
        h3.col-xs-12 Confirm Quantity

    //- Body
    //- ------------------------------------------
    .modal-body
      p We expected a quantity of {{expectedQuantity}}, but you entered a total quantity of {{actualQuantity}}. Are you sure this is correct?

    //- Footer
    //- ------------------------------------------
    .modal-footer.modal-footer-custom
      .row
        .col-xs-12
          button.yes.button-wide.btn.btn-primary.pull-right(type='submit') Yes
          .no.button-wide.btn.btn-default.pull-right(ng-click='no()') No
