.gq-notifications
  .notification
    color #666666
    display block
    padding 10px
    &:hover
      background-color #FBFBFB
      cursor pointer
    &:not(:last-child)
      border-bottom: 1px solid #F5F5F5

  .header
    padding 7px 10px
    text-transform uppercase
    font-weight 500
    background-color #F5F5F5

  .description-col
    padding-left 5px

  .time-ago
    color darkgrey
    font-size 12px
