.gq-notifications
  //- .test Hello {{notificationsCtrl.notifications.length}}
  //- .test Hello2 {{navbarCtrl.notificationCount.challenge}}
  div hello world {{ctrl.notifications.length}}
  //- alert.alert(
  //-   ng-repeat='notification in notificationsCtrl.notifications'
  //-   type='{{notification.type}}'
  //-   close='notificationsCtrl.acknowledge(notification)'
  //- ) {{notification.text}}
