.gq-notifications
  .header Notifications
  a.notification(
    ng-href='{{ctrl.getLink(notification)}}'
    ng-repeat='notification in ctrl.notifications'
  )
    .row
      .col-xs-2.text-right
        i.fa.fa-check.text-success.fa-2x
      .col-xs-10
        div {{ctrl.getDescription(notification)}}
