.lesson-checkout-review
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title Your Lesson
        .panel-body
          div 60 Minute, Weekly Lesson
          div Sunday Afternoon
      .panel.panel-default
        .panel-heading
          .panel-title Your Contact Info
        .panel-body
          div <strong>email:</strong> danny.edward.nelson@gmail.com
          div <strong>skype:</strong> danielnelsonguitar
      .panel.panel-default
        .panel-heading
          .panel-title Your Payment
        .panel-body
          div AMERiCAN EXPRESS 2008 exp 06/20

      .panel.panel-default
        .panel-heading
          .panel-title Order Summary
        .panel-body
          div $60

        .panel-footer
          .btn.btn-primary.pull-right Place Order


