.lesson-checkout-payment
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title We accept all major credit cards.
        .panel-body
          input.form-control(placeholder='Number')
          .form-inline
            input.form-control.exp-month(placeholder='MM')
            span &nbsp;/&nbsp;
            input.form-control.exp-year(placeholder='YYYY')
            input.form-control.csv.pull-right(placeholder='CSV')

        .panel-footer
          .clearfix
            .btn.btn-default Back
            .btn.btn-primary.pull-right Save & Continue


