.guitar-quest-pending-pieces.container

  .text-center(ng-if='pendingPiecesCtrl.userPieces.length === 0')
    h5 No pending pieces

  .pending-piece-panel.panel.panel-default(
    ng-repeat='userPiece in pendingPiecesCtrl.userPieces | orderBy:"updatedAt"'
    ui-sref='guitarQuest.reviewSubmittedPiece({userPieceId: userPiece._id})'
  )
    .panel-body
      .user-info
        strong {{userPiece.user.name}}
        span  {{userPiece.user.email}}
        em  {{pendingPiecesCtrl.getTimeFromNow(userPiece.updatedAt)}}
      h5 {{userPiece.piece.name}}
