.subscribe-checkout-payment
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title Payment Info
        .panel-body
          .input-row
            input.form-control(placeholder='Card Number')
            div
          .row
            .col-sm-6
              input.form-control.exp-month(placeholder='Expiration date')
            .col-sm-6
              input.form-control.csv.pull-right(placeholder='Security Code')

        .panel-footer
          .clearfix
            .btn.btn-primary.pull-right Save & Continue


