.guitar-quest-pricing
  font-size 15px
  .login-btn
    margin-top 30px

  .login-panel
    margin-top 50px

  .price-panel

  .text-faded
    color gray

  .price-panel
    margin-top 100px
  //   padding 15px 25px

  .pricing-title
    margin-bottom 20px

  .features
    margin-top 25px

  .professional-panel
    border 2px solid #FF9800
