.guitar-quest-login
  font-size 15px
  .login-btn
    margin-top 30px

  .login-panel
    margin-top 50px

  .price-panel

  .text-faded
    color gray

  .price-panel
    padding 15px 25px

  .features
    margin-top 25px
