.guitar-quest-login.container

  .col-md-4.col-md-offset-2
    .price-panel.panel.panel-default
      .panel-body
        h4.text-center Amateur
        h5.text-center.text-faded Free
        .features
          div
            i.fa.fa-check
            span  Up to 4 video submissions
          div
            i.fa.fa-check
            span  Access to all pieces
          div
            i.fa.fa-check
            span  Access to all quests
          div
            i.fa.fa-check
            span  Access to all tutorials
        button.login-btn.btn.btn-primary.btn-block(href='' ui-sref='guitarQuest.creatAccount') Create Account

  .col-md-4
    .price-panel.panel.panel-default
      .panel-body
        h4.text-center Professional
        h5.text-center.text-faded $35/mo
        .features
          div
            i.fa.fa-check
            span  Unlimited video submissions
          div
            i.fa.fa-check
            span  Access to all pieces
          div
            i.fa.fa-check
            span  Access to all quests
          div
            i.fa.fa-check
            span  Access to all tutorials
        button.login-btn.btn.btn-primary.btn-block(href='' ui-sref='guitarQuest.creatAccount') Get Started
