.guitar-quest-login.container

  .col-md-4.col-md-offset-2
    .price-panel.panel.panel-default
      .panel-body
        h4.text-center Amateur
        h5.text-center.text-faded Free
        .features
          div
            i.fa.fa-check
            span  Cannot level up beyond preparatory
          div
            i.fa.fa-check
            span  Unlimited video uploads
          div
            i.fa.fa-check
            span  Unlimited quests
          div
            i.fa.fa-check
            span  Access to Private Lessons
        button.login-btn.btn.btn-primary.btn-block(href='' ui-sref='guitarQuest.creatAccount') Sign up

  .col-md-4
    .price-panel.panel.panel-default
      .panel-body
        h4.text-center Professional
        h5.text-center.text-faded $35/mo
        .features
          div
            i.fa.fa-check
            span  Can level up to level 8
          div
            i.fa.fa-check
            span  Unlimited video uploads
          div
            i.fa.fa-check
            span  Unlimited quests
          div
            i.fa.fa-check
            span  Access to Private Lessons
        button.login-btn.btn.btn-primary.btn-block(href='' ui-sref='guitarQuest.creatAccount') Sign up

