.lesson-checkout-review
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title.pull-left
            span Your Payment
          .btn-flat.pull-right Edit
        .panel-body
          div AMERICAN EXPRESS 2008 exp 06/20

        .panel-heading
          .panel-title Order Summary
        .panel-body
          .clearfix
            .pull-left GuitarQuest professional subscription
            .pull-right <strong>$35 per month</strong>

        .panel-footer
          .clearfix
            .btn.btn-primary.pull-right Subscribe


