.lesson-checkout-review
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title.pull-left
            span Your Payment
          a.btn-flat.pull-right(href='' ui-sref='subscribeCheckout.payment') Edit
        .panel-body
          gq-card-summary(card='ctrl.card')

        .panel-heading
          .panel-title Order Summary
        .panel-body
          .clearfix
            .pull-left <strong>Professional Account (Renews Monthly)</strong>
            .pull-right <strong>${{ctrl.settings.subscription.price}}</strong>
          hr.order-divider
          .clearfix
            .pull-left <strong>Total:
            .pull-right <strong>${{ctrl.settings.subscription.price}}</strong>

        .panel-footer.panel-footer-white
          .clearfix
            .btn.btn-primary.pull-right(
              ng-click='ctrl.submit()'
              ng-disabled='ctrl.isLoading'
            ) Subscribe


