.guitar-quest-tutorials
  .points-to-next-level
    position relative
    top 17px
  .piece-panel
    cursor pointer
  // .level-panel
  //   cursor pointer
  //   &:hover
  //     background-color #eeeeee
