.guitar-quest-tutorials.container
  alert(type='info' close='piecesCtrl.closeAlert()') Use these tutorials as a resource to help you while learn new pieces.
  .row
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Getting Started
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Basic Technique
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Reading Music
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Interpretation
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
     .col-md-6
      .panel.panel-default
        .panel-body
          h4 Memorization
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

     .col-md-6
      .panel.panel-default
        .panel-body
          h4 Baroque Music Interpretation
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

     .col-md-6
      .panel.panel-default
        .panel-body
          h4 Romantic Interpretation
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

     .col-md-6
      .panel.panel-default
        .panel-body
          h4 Classical Music Interpretation
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

     .col-md-6
      .panel.panel-default
        .panel-body
          h4 Contemporary Music Interpretation
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

      .col-md-6
      .panel.panel-default
        .panel-body
          h4 Tremelo
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

      .col-md-6
      .panel.panel-default
        .panel-body
          h4 Slurs
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

