.guitar-quest-tutorials.container
  .row
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Getting Started
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Technique
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Reading Music
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
    .col-md-6
      .panel.panel-default
        .panel-body
          h4 Interpretation
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial
     .col-md-6
      .panel.panel-default
        .panel-body
          h4 Memorization
          p In this tutorial, we'll introduce you to the basics of selecting a guitar, books, and accessories.
          .btn.btn-primary Start tutorial

